<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Simple register form</title>
  
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="progress"></div>

<div class="center">
  <div id="register">

    <div id="results">
      <h1>Predictions for @<%= username %></h1>
      <% if(gender !== null){ %>
        <p><%= gender %></p>
      <% } %>
      <% if(age !== null){ %>
        <p><%= age %></p>
      <% } %>
  </div>

  </div>
</div>




</body>

</html>
